.container {
  width: 100%;
  max-width: 120.0rem;

  margin: 0 auto;
  padding: 0 1.25rem;
}

.no-display {
  display: none;
}

.display {
  display: flex;
}

/* Circle Image Container */
.regular-image {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
}

.large-image {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

/* Sticky menu */
.sticky_menu {
  position: sticky;
  top: 0;

  z-index: 10;
}

.sticky_top {
  top: 3.75rem;
}
