.client_card {
  composes: body-paragraph-small from "@/styles/typography.module.css";
  composes: text-white from "@/styles/colors.module.css";
}

.client_card + .client_card {
  margin-top: 3.0em;
}

.client_card_container {
  composes: container from "@/styles/utils.module.css";

  display: flex;
  flex-direction: column;
  align-items: center;
}

.client_card_title {
  composes: body-title-small from "@/styles/typography.module.css";

  line-height: 1.2em;
}

.client_card_image {
  composes: regular-image from "@/styles/utils.module.css";
  composes: border-white from "@/styles/colors.module.css";

  border-width: 5px;
  margin-bottom: 0.6em;
}
