.about_us {
  composes: body-paragraph from "@/styles/typography.module.css";

  padding-top: 3.95rem;
  padding-bottom: 2.88rem;
}

.about_us_container {
  composes: container from "@/styles/utils.module.css";
  composes: bg-white border-default from "@/styles/colors.module.css";

  width: 90%;
  min-height: 10rem;
  max-width: 60rem;

  padding-top: 3rem;
  padding-bottom: 1.5rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.about_us_title {
  composes: bg-brand text-white from "@/styles/colors.module.css";
  composes: body-title from "@/styles/typography.module.css";

  width: 14rem;
  height: 3.8rem;

  font-size: 1.0em;
  line-height: 1.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -1.4rem;
}
