.feature_list {
  composes: bg-white text-default from "@/styles/colors.module.css";
}

.feature_list_container {
  composes: container from "@/styles/utils.module.css";

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.feature_list_title {
  composes: text-black from "@/styles/colors.module.css";
  composes: subpage-title from "@/styles/typography.module.css";

  margin-bottom: 2rem;
}
