@value color-brand #990505;

.desktop_menu {
  composes: link-text from "@/styles/typography.module.css";

  display: flex;
}

.desktop_menu_container {
  display: flex;
  align-items: center;
}

.desktop_menu_item {
  margin: auto 0.8em;
}

.desktop_menu_item_link {
  padding: 0.85em 0.8em;
}

.desktop_menu_item_link:hover {
  border-bottom: 3px solid color-brand;
  color: color-brand;
  font-weight: 500;
}
