@value color-brand #990505;
@value color-white #f9f9f9;

.mobile_menu {
  composes: link-text from "@/styles/typography.module.css";

  display: flex;
}

.mobile_menu_submenu {
  position: absolute;
  top: 60px;
  right: 0;

  width: 100%;
  padding: 2.5rem 0;

  composes: bg-white from "@/styles/colors.module.css";
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_menu_submenu_no_display {
  display: none;
}

.mobile_menu_item {
  width: 100%;
}

.mobile_menu_item + .mobile_menu_item {
  margin-top: 0.8em;
}

.mobile_menu_item_link {
  width: 100%;
  height: 100%;
  padding: 0.3em 0;

  display: flex;
  justify-content: center;
}

.mobile_menu_item_link:hover, .mobile_menu_item_link_selected {
  background-color: color-brand;
  color: color-white;
  font-weight: 500;
}

@media (min-width: 47.9rem) {
  .mobile_menu {
    display: none;
  }
}
